<h2> <span>SPLURTY / No. <%= @quote.id %></span> 
	Here's a quote to cheer you up!
</h2>

<br />
<br />
<br />

<h1 class='text-center'> <%= @quote.saying %> </h1>
<h2 class="pull-right author-align"> ~ <%= @quote.author %> </h2>

<br class="clear" />
<br />
<br />
<br />